<!--
  Generated template for the RegisterPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>register-password</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <form #registerPasswordForm="ngForm">
        <h3 text-center>Password Info</h3>
        <ion-list>
            <ion-item>
                <ion-label stacked>Password</ion-label>
                <ion-input type="password" [(ngModel)]="reg.registration.user.password"
                           name="password"
                           #password="ngModel"
                           [minlength]="6"
                           required>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>Confirm Password</ion-label>
                <ion-input type="password" [(ngModel)]="reg.registration.user.password_confirm"
                           name="password_confirm"
                           #password_confirm="ngModel"
                           required>
                </ion-input>
            </ion-item>
        </ion-list>

        <div *ngIf="!passwordsMatch() && (password_confirm.dirty || password_confirm.touched)"
             padding
             class="validation-warning">Passwords must match!</div>

        <div *ngIf="!password.minlength && !password.valid && (password.dirty || password.touched)"
             padding
             class="validation-warning">Password must be longer than 6 characters.</div>

        <button ion-button block class="ablb-button abalobi-button-darkblue"
                [disabled]="!registerPasswordForm.form.valid || !passwordValid()"
                (click)="continue()">Continue
        </button>


    </form>

    <pre class="hacker-console" padding>{{this.reg.printRegistration()}}</pre>

</ion-content>
