<div>

    <div *ngIf="!trips && authenticated">
        <br>
        <circle-loader></circle-loader>
    </div>

    <div *ngIf="!!trips">
        <ion-card>
            <ion-card-header>
                <h3>Summary</h3>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <div class="ion_item">Income: R {{this.totalIncome}}</div>
                    <div class="ion_item">Expense: R {{this.totalExpense}}</div>
                    <div class="ion_item">Diff: R {{this.totalIncome - this.totalExpense}}</div>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                Income
            </ion-card-header>
            <ion-card-content>
                <ion-list >
                    <div class="ion_item" *ngFor="let specie of this.species">
                        <h3>{{specie}}</h3>
                        <div>Sold Crates: R {{this.income['totalIncome']['Sold Crates']}}</div>
                        <div>Sold Number: R {{this.income['totalIncome']['Sold Number']}}</div>
                        <div>Sold Weight: R {{this.income['totalIncome']['Sold Weight']}}</div>
                    </div>
                </ion-list>

                <div style="display: block" *ngIf="this.incomeChartData[0]['data'].length > 0">
                    <canvas baseChart [datasets]="incomeChartData" [labels]="incomeChartLabels" [chartType]="chartType" [options]="chartOptions"></canvas>
                </div>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                Expense
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <div class="ion_item" *ngFor="let cost of this.costs">{{this.prettyExpense(cost)}}: R
                        {{this.expense[cost]}}</div>
                </ion-list>

                <div style="display: block" *ngIf="this.expenseChartData[0]['data'].length > 0">
                    <canvas baseChart [datasets]="expenseChartData" [labels]="expenseChartLabels" [chartType]="chartType" [options]="chartOptions"></canvas>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</div>
