<div>
    <ion-card>
        <ion-card-header>
            Profit
        </ion-card-header>
        <ion-item>Income: </ion-item>
        <ion-item>Expense: </ion-item>
        <ion-item>Diff: </ion-item>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Income
        </ion-card-header>
        <ion-card-content>
            Weehoo
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Expense
        </ion-card-header>
        <ion-card-content>
            Weehoo
        </ion-card-content>
    </ion-card>
</div>
