<!--
  Generated template for the RegisterProfileImagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>register-profile-image</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="page-bg">
    <ion-card>
        <ion-card-header>
            <div *ngIf="!!this.profileImage" text-center>Profile Image</div>
            <div *ngIf="!this.profileImage" text-center text-wrap>Please take a profile image using the buttons below.</div>
        </ion-card-header>
        <ion-card-content>
            <div class="profile-image-container">
                <img *ngIf="!!this.profileImage" [src]="this.profileImage" alt="" class="profile-image-staging" />
            </div>
        </ion-card-content>
    </ion-card>
    <div padding>
        <button ion-button block class="ablb-button abalobi-button-darkblue" (click)="takePhoto()">
            <ion-icon name="camera"></ion-icon>&nbsp;&nbsp;Take photo
        </button>
        <button ion-button block class="ablb-button abalobi-button-brown" (click)="choosePhoto()">
            <ion-icon name="image"></ion-icon>&nbsp;&nbsp;Choose from gallery
        </button>
    </div>

    <br> <br>

    <div padding>
        <button ion-button block class="ablb-button abalobi-button-cyan" (click)="continue()">
        <span *ngIf="!this.profileImage">
            <ion-icon  name="fastforward"></ion-icon>&nbsp;&nbsp;Skip
        </span>
            <span *ngIf="!!this.profileImage">
            <ion-icon  name="checkmark-circle"></ion-icon>&nbsp;&nbsp;Continue
        </span>
        </button>
    </div>




</ion-content>
