analytics-calendar {
    .calendar {
        margin: 0 4px 0 4px;
    }
    .cs-cal-header {
        display: flex;
        flex-wrap: wrap;
    }
    .cal-day-item {
        border: 1px solid $ablb_blue;
        margin-left: 1px;
        margin-right: 1px;
        width: calc(100% * (1/7) - 2px);
        color: white;
        background-color: $ablb_blue;
        text-align: center;
        font-weight: bold;
    }
    .cs-cal-days {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cs-cal-day-block {
        border: 1px solid $ablb_blue;
        width: calc(100% * (1/7) - 2px);
        height: calc(60px - 2px);
        margin: 1px 1px 1px 1px;
        background-color: $cloud;
        box-sizing: border-box;
        font-weight: bold;
    }

    .calendar-icon {
        display: inline-block;
        max-height: 70%;
        width: auto;
    }

}
