<!--
  Generated template for the RegisterContactDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>register-contact-details</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>


    <form #registerContactForm="ngForm">
        <h3 text-center>Contact information</h3>
        <ion-list>
            <ion-item>
                <ion-label stacked>ID Number</ion-label>
                <ion-input type="number" [(ngModel)]="reg.registration.user.id_number"
                           name="user_id_number"
                           #user_id_number="ngModel"
                           [minlength]="13"
                           [maxlength]="13"
                           required>
                </ion-input>
            </ion-item>

            <div padding *ngIf="user_id_number.invalid && (user_id_number.dirty || user_id_number.touched)">
                <span class="validation-warning">A standard South African ID number is 13 digits long.</span>
            </div>

            <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input type="text" [(ngModel)]="reg.registration.user.email"
                           name="user_email"
                           #user_email="ngModel"
                           [pattern]="this.EMAIL_REGEX"
                           required>
                </ion-input>
            </ion-item>

            <div *ngIf="user_email.invalid && (user_email.dirty || user_email.touched)"
                  padding
                  class="validation-warning">That is not a valid email address.</div>

            <!--<div padding *ngIf="user_email.invalid && (user_email.dirty || user_email.touched)">-->
                <!--<span class="validation-warning">Email address is required!</span>-->
            <!--</div>-->

            <ion-item>
                <ion-label stacked>Personal Cellphone Number</ion-label>
                <ion-input type="number" [(ngModel)]="reg.registration.user.mobile_number"
                           name="mobile_number"
                           #mobile_number="ngModel"
                           [minlength]="10"
                           [maxlength]="10"
                           required>
                </ion-input>
            </ion-item>

            <div *ngIf="mobile_number.invalid && (mobile_number.dirty || mobile_number.touched)"
                 padding
                 class="validation-warning">SA mobile numbers are 10 digits long.</div>

        </ion-list>


        <!--Is this your email address-->
        <ion-list radio-group
                  name="user_email_own"
                  #user_email_own="ngModel"
                  required
                  [(ngModel)]="reg.registration.user.email_own">
            <ion-list-header text-wrap>
                Is this your own email address? Or someone else's?
            </ion-list-header>

            <ion-item>
                <ion-label>Mine</ion-label>
                <ion-radio [value]="true"></ion-radio>
            </ion-item>

            <ion-item>
                <ion-label>Someone else's</ion-label>
                <ion-radio [value]="false"></ion-radio>
            </ion-item>
        </ion-list>

        <!--ID Number-->

        <!--Date of birth-->

        <!--Personal Cellphone number-->

        <button ion-button block class="ablb-button abalobi-button-darkblue"
                [disabled]="!registerContactForm.form.valid"
                (click)="continue()">Continue
        </button>


    </form>


    <!--<pre class="hacker-console" padding>{{this.reg.printRegistration()}}</pre>-->
</ion-content>
