page-home {
    /* Empty. Add your own CSS if you like */

    .page-content {
        //background-image: url("../assets/images/water_blurred.jpg");
        //background-repeat: no-repeat;
        //background-size: cover;
        background-color: #006ea0;
        color: white;
    }

    .main-header {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 3em;
        background-color: rgba(0,0,0,0.5);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-app-version {
        padding-left: 5%;
        padding-right: 5%;
        text-align: right;
    }

    .wrap-please {
        word-wrap: normal;
        overflow-wrap: yes;
        white-space: normal;
    }

    .image-container {
        text-align: center;
    }

    .title-image {
        display: inline-block;
        margin-top: 15px;
        //width: 55%;
        //height: 55%;
        height: 200px;
        width: auto;
        text-align: center;
    }


}
