page-home {
    /* Empty. Add your own CSS if you like */

    .page-content {
        //background-image: url("../assets/images/water_blurred.jpg");
        //background-repeat: no-repeat;
        //background-size: cover;
        background-color: #006ea0;
        color: white;
    }

    .main-header {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 3em;
        background-color: rgba(0,0,0,0.5);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .abalobi-button-1 {
        color: white !important;
        background-color: #95bbc3 !important;
        font-size: 25px;
    }

    .abalobi-button-2 {
        color: white !important;
        background-color: #0f4162 !important;
        font-size: 25px;
    }

    .abalobi-button-3 {
        color: white !important;
        background-color: #5c6f68 !important;
        font-size: 25px;
    }

    .footer-app-version {
        padding-left: 5%;
        padding-right: 5%;
        text-align: right;
    }

    .wrap-please {
        word-wrap: normal;
        overflow-wrap: yes;
        white-space: normal;
    }

    .ablb-button {
        height: 50px;
        margin-bottom: 8px;
        text-transform: none;
        font-size: 1.6em;
        font-weight: 400;
    }

    .image-container {
        text-align: center;
    }

    .title-image {
        display: inline-block;
        margin-top: 15px;
        //width: 55%;
        //height: 55%;
        height: 200px;
        width: auto;
        text-align: center;
    }


}
