<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Settings</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-list no-border>

        <ion-list-header>
            Logged in user
        </ion-list-header>

        <!--<div *ngIf="auth.isAuthenticated()">-->
        <!--<ion-card>-->
        <!--<img [src]="auth.user.picture" />-->
        <!--<ion-card-content>-->
        <!--<ion-card-title>{{ auth.user.name }}</ion-card-title>-->
        <!--</ion-card-content>-->
        <!--</ion-card>-->
        <!--<button ion-button block color="primary" (click)="auth.logout()">Logout</button>-->
        <!--</div>-->
        <div class="image-wrapper">
            <div class="image-container">
                <img
                    class="fisher-profile"
                    src="{{fisher.currentUser.image_url__c}}" alt="">
            </div>
        </div>

        <br>


        <ion-item>
            <ion-icon name='person' item-start></ion-icon>
            <span *ngIf="fisher.currentUser">
                {{processName((fisher.currentUser.FirstName__c + " " + fisher.currentUser.LastName__c))}}
            </span>
            <span *ngIf="!fisher.currentUser">No user found!</span>
            <button ion-button outline item-end icon-left (click)="presentLogoutModal()">
                <!--<ion-icon name="star"></ion-icon>-->
                Log Out
            </button>
        </ion-item>

        <button ion-item>
            <ion-icon name='contact' item-start></ion-icon>
            User Type
            <ion-note item-end>
                {{processUsertype(fisher.currentUser.abalobi_usertype__c)   }}
            </ion-note>
        </button>

        <button ion-item>
            <ion-icon name='chatbubbles' item-start></ion-icon>
            Language
            <ion-note item-end>
                {{fisher.currentUser.preferred_language__c || "No preference"}}
            </ion-note>
        </button>

        <button ion-item>
            <ion-icon name='map' item-start></ion-icon>
            Community
            <ion-note item-end>
                {{fisher.currentUser.full_community_info.name_eng__c}}
            </ion-note>
        </button>

        <button ion-item>
            <ion-icon name='call' item-start></ion-icon>
            Cell
            <ion-note item-end>
                {{fisher.currentUser.contact_mobile_num__c}}
            </ion-note>
        </button>

        <button ion-item>
            <ion-icon name='mail' item-start></ion-icon>
            Email
            <ion-note item-end>
                {{fisher.currentUser.Email__c}}
            </ion-note>
        </button>

    </ion-list>

    <div class="fullwidth text-center">
        <div class="cs-btn-centered">
            <button ion-button (click)="toggleEditMode()"
                    class="ablb-button abalobi-button-brown ">
                <!--<span *ngIf="!this.editMode">Edit profile</span>-->
                <!--<span *ngIf="this.editMode">Save Changes</span>-->
                Edit Profile
            </button>
        </div>
    </div>




    <ion-list>

        <ion-list-header>
            App Settings
        </ion-list-header>

        <ion-item>
            <ion-toggle checked="true"></ion-toggle>
            <ion-label>
                Debug Mode
            </ion-label>
            <ion-icon name='cog' item-start></ion-icon>
        </ion-item>


        <ion-item>
            <ion-icon name='chatbubbles' item-start></ion-icon>
            English
            <button ion-button outline item-end icon-left>
                <!--<ion-icon name="star"></ion-icon>-->
                Change
            </button>
            <!--<ion-note item-end>Yes please</ion-note>-->
        </ion-item>

        <ion-item>
            <ion-icon name='information-circle' item-start></ion-icon>
            Version: {{app_version}}
            <!--<ion-note item-end>-->
                <!--Lambert's Bay-->
            <!--</ion-note>-->
        </ion-item>


    </ion-list>

    <!--<ion-list>-->

        <!--<ion-list-header>-->
            <!--ODK Settings-->
        <!--</ion-list-header>-->

        <!--<ion-item>-->
            <!--<ion-icon name='globe' item-start></ion-icon>-->
            <!--<ion-label stacked>ODK Url</ion-label>-->
            <!--<ion-input type="text"></ion-input>-->
        <!--</ion-item>-->

        <!--<ion-item>-->
            <!--<ion-icon name='lock' item-start></ion-icon>-->
            <!--<ion-label stacked>Password</ion-label>-->
            <!--<ion-input type="password"></ion-input>-->
        <!--</ion-item>-->

        <!--<ion-item>-->
            <!--<ion-icon name='globe' item-start></ion-icon>-->
            <!--Left Icon Button-->
            <!--<button ion-button outline item-end icon-left>-->
                <!--&lt;!&ndash;<ion-icon name="star"></ion-icon>&ndash;&gt;-->
                <!--Change-->
            <!--</button>-->
        <!--</ion-item>-->

        <!--<ion-item>-->
            <!--<ion-icon name='planet' item-start></ion-icon>-->
            <!--Astronomy-->
            <!--<ion-note item-end>-->
                <!--To the moon-->
            <!--</ion-note>-->
        <!--</ion-item>-->

        <!--<ion-item>-->
            <!--<ion-toggle checked="false"></ion-toggle>-->
            <!--<ion-label>-->
                <!--Muggle Studies-->
            <!--</ion-label>-->
            <!--<ion-icon name='body' item-start></ion-icon>-->
        <!--</ion-item>-->

        <!--<ion-item>-->
            <!--<ion-icon name='leaf' item-start></ion-icon>-->
            <!--Herbology-->
            <!--<ion-icon name='rose' item-end color="secondary"></ion-icon>-->
        <!--</ion-item>-->

        <!--<ion-item>-->
            <!--<ion-icon name='flask' item-start></ion-icon>-->
            <!--Potions-->
            <!--<ion-note item-end>-->
                <!--Poisonous-->
            <!--</ion-note>-->
        <!--</ion-item>-->


    <!--</ion-list>-->
</ion-content>
