.abalobi-button-cyan {
    color: white !important;
    background-color: #95bbc3 !important;
    font-size: 25px;
}

.abalobi-button-darkblue {
    color: white !important;
    background-color: #0f4162 !important;
    font-size: 25px;
}

.abalobi-button-brown {
    color: white !important;
    background-color: #5c6f68 !important;
    font-size: 25px;
}
