@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url("../assets/fonts/openSansCondensedLight.ttf") format('truetype');
}

/* font-family: 'Open Sans Condensed', sans-serif; */
