<ion-header>
    <!--<ion-navbar>-->
        <!--<ion-title>-->
            <!--&lt;!&ndash;Analytics&ndash;&gt;-->
        <!--</ion-title>-->
    <!--</ion-navbar>-->
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="menu" color="white">
            <ion-segment-button value="1">
                Calendar
            </ion-segment-button>
            <ion-segment-button value="2">
                Trips
            </ion-segment-button>
            <ion-segment-button value="3">
                Finance
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>Select Date:</ion-label>
        <ion-datetime displayFormat="MMMM YYYY"
                      pickerFormat="MMMM YYYY"
                      [(ngModel)]="this.selectedDate"
                      (ngModelChange)="this.getDataForMonth()" >
        </ion-datetime>
    </ion-item>

    <br>

    <div [hidden]="menu !== '1'">
        <analytics-calendar *ngIf="selectedDate"
            [trips]="trips"
            [month]="selectedDate"
            (calendarBlockClick)="tripView($event)"
        ></analytics-calendar>
    </div>

    <div [hidden]="menu !== '2'">
        <analytics-trips-list
            [trips]="this.trips"
            (tripView)="tripView($event)"
        ></analytics-trips-list>
        <h3 *ngIf="!!this.trips && this.trips.length === 0">No trips logged for selected month</h3>
    </div>

    <div [hidden]="menu !== '3'">
        <finance [trips]="this.trips"></finance>
    </div>
</ion-content>
