<div class="card-list">
    <ion-card *ngIf="!!trips">
        <ion-card-header>
            Sea Days
        </ion-card-header>

        <ion-list>
            <button ion-item>
                <ion-icon name="boat" item-start></ion-icon>
                Days Fishing: {{days_fishing}}
            </button>

            <button ion-item>
                <ion-icon name="home" item-start></ion-icon>
                Days Not Fishing: {{days_not_fishing}}
            </button>

            <button ion-item>
                <ion-icon name="basket" item-start></ion-icon>
                Trips with catches: {{trips_with_catches}}
            </button>
        </ion-list>
    </ion-card>
</div>
