<div class="card-list">
    <ion-card>
        <ion-card-header>
            Sea Days
        </ion-card-header>

        <ion-list>
            <button ion-item>
                <ion-icon name="cart" item-start></ion-icon>
                Days Fishing:
            </button>

            <button ion-item>
                <ion-icon name="medical" item-start></ion-icon>
                Days Not Fishing:
            </button>

            <button ion-item>
                <ion-icon name="cafe" item-start></ion-icon>
                Trips with catches:
            </button>
        </ion-list>
    </ion-card>
</div>
