analytics-trips-list {
    .weatherIcon {
        color: $ablb_blue;
    }

    .tripIcon {
        color: $ablb_brown;
    }

    .fish-trip-icon {
        height: 40px;
        width: auto;
    }
}
